<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: commonHead('Register | TevinAir')}"></head>

<body>
    <!-- Header -->
    <header th:replace="~{fragments/header :: header}">
    </header>

    <main id="register-container">
        <!-- Registration Form -->
        <div class="form-container" id="register-form">
            <h2 class="text-center mb-4">Register for TevinAir</h2>
            <form th:action="@{/register}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">User Name</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Create Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-success w-100">Register</button>
                <div class="text-center mt-3">
                    <a href="/login">Already have an account? Login</a>
                </div>
            </form>
        </div>
    </main>
    <!-- Footer -->
    <footer th:replace="~{fragments/footer :: footer}">
    </footer>

    <!-- Bootstrap JS -->
    <div th:replace="~{fragments/scripts :: commonScripts}"></div>
</body>

</html>